body {
    background-image: url('newtklocok/newtk.ca/media/starry background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*height: 100vh;*/
}
